<p>
	<button onclick="setLocation('<?php echo $block->getPurgeHostLink() ?>')" type="button">
		<?php echo __('Purge Varnish Domain Cache') ?>
	</button>
	<span><?php echo __('Clear All Cache of a Domain') ?></span>
</p>
<div>
    <form action="<?php echo $block->getPurgeUrlLink(); ?>" method="post">
        <input name="form_key" type="hidden" value="<?php echo $block->getFormKey(); ?>"/>
        <input id="varnish_url" class="admin__control-text" type="text" name="varnish_url" style="min-width: 300px" placeholder="<?php echo __('write url (e.g. pub/media/styles.css)'); ?>" value="" autocomplete="off" />
        <button class="button" type="submit" title="Refresh Data">
            <?php echo __('Purge Varnish Url Cache') ?>
        </button>
    </form>
</div>